<nav  class="navbar navbar-expand-lg navbar-dark bg-dark center">
  <div class="topnav-centered">
    <a class="navbar-brand" href="/">Usuarios</a>
    <a class="navbar-brand" href="/cadastro">Cadastrar usuarios</a>
  </div>

</nav>
